<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col textfoot">© 2013 Alle Rechten Voorbehouden Bc Erembodegem<br><br>In samenwerking met Bert Brichau en Arteveldehogeschool<br>
            Academiejaar 2017 - 2018 </div>
    </div>
    <center>
        <div>
            <img class="AfbFooter" src="{{site.baseurl}}/assets/images/LogoFoot.png" alt="LogoBBC" width="100px">
            <img class="AfbFooter2" src="{{site.baseurl}}/assets/images/LogoA/1.png" alt="LogoArtevelde" width="180px">
        </div>
    </center>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>